CreateExtlChnlProcExcp1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Sets the record category to Catalog Syndication</description>
        <name>SetCatalogSyndicationCategory</name>
        <label>Set Catalog Syndication Category</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ProcessExceptionCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Catalog Syndication</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateProcessExceptionRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines whether a ProcessException record for failed events is related to the External Channel Syndication.</description>
        <name>AreFailedEventsForExternalSyndication</name>
        <label>Are Failed Events for External Syndication?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CreateProcessExceptionRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Catalog_Syndication_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ExceptionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Catalog Syndication Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCatalogSyndicationCategory</targetReference>
            </connector>
            <label>Catalog Syndication Failed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CreateExtlChnlProcExcp1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateExtlChnlProcExcp1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a process exception record using values from the ProcessException event.</description>
        <name>CreateProcessExceptionRecord</name>
        <label>Create Process Exception Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.AttachedToId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <elementReference>ProcessExceptionCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalReference</field>
            <value>
                <elementReference>$Record.ExternalReference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GroupById</field>
            <value>
                <elementReference>$Record.GroupById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>$Record.Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <elementReference>$Record.Severity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <sourceTemplate>chnl_synd__CreateExtlChnlProcExcp</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AreFailedEventsForExternalSyndication</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>ProcessExceptionEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>The category of a ProcessException record, determined by the type of exception from the ProcessException event.</description>
        <name>ProcessExceptionCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
